<template>
<div ref="content">
## Rules

### Deck

- Maximum cost is 30

### Turn

Each player play their turn in sequence.

Each turn, a player may either:

- Play a card (dig)

  1. Take the top card of it's deck and put it on the stack)
  1. Apply a single (if any) `S:` effect on the card immediately

  > If a player's deck is empty, he must resolve the stack.

- Resolve the stack (extract)

  1. Starting from the top of the stack, remove the current card.
  1. Apply a single (if any) `R:` effect on the card immediately
  1. Repeat this process until both player have removed at least one of their card

### Win condition

- The first player to have **15** points wins.
- If both player cannot play, the player with the most points wins.
</div>
</template>
<script>
 import marked from 'marked';

 export default {
   mounted() {
     debugger
     this.$refs.content.innerHTML = marked(this.$refs.content.innerHTML);
   }
 }
</script>
