<template>
  <card v-bind="card" />
</template>
<script>
 import CardList from '~/components/CardList.vue'
 import Card from '~/components/Card.vue'
 import { r } from '~/rethinkdb'

 export default {
   components: {
     Card,
   }

   data() {
     return {
       card: null
     }
   }

   methods: {
     fetch() {
       const { name } = this.$route.params;

       const q = r.table('cards').getAll(name, {index: 'name'})
       this.$db.run(q)
                  .then(cursor => cursor.next())
                  .then(card => this.card = card)
     }
   }

   beforeRouteEnter(to, from, next) {
     next(vm => vm.fetch())
   }

   beforeRouteUpdate(to, from, next) {
     this.fetch()
     next()
   }
 }
</script>
