<template>
  <figure ref="pointer" class="pointer"></figure>
</template>
<script>
import $ from 'cash-dom';
import _ from 'lodash';
import { r } from '~/rethinkdb'


const id = '56a9fae0-381f-49aa-9010-c1fa4d12f4fe'

export default {
  data() {
    return {
      currentPlayer: r.table('players').get(id)
    }
  },
  created() {
    this.$db.run(r.table('players').insert({ id }, { conflict: "update" }))
    
    niceUpdate = _.throttle(this.update, 200, { trailing: true })
    $(window).on('mousemove', niceUpdate)
    $(window).on('click', niceUpdate.flush)

    this.$db.changes(this.currentPlayer)
            .then(feed => feed.eachAsync(async changes => {
              console.info(changes)
              $(this.$refs.pointer).css({ left: changes.new_val.x, top: changes.new_val.y })
            })

  },
  methods: {
    update(ev) {
      this.$db.run(r.table('players').insert({ id, x: ev.x, y: ev.y }, { conflict: "update" }))
    }
  }

}
</script>
  
<style>
 .pointer {
   position: absolute;
   background-color: red;
   width: 1em;
   height: 1em;

   transition: left 150ms ease, top 150ms ease;
 }
</style>
