<template>
  <div class="container">
    <div class="sidebar">
      <h3>
        Game
      </h3>
      <table class="seat-indicator">
        <tr>
          <th colspan="2">Seats</th>
        </tr>
        <tr>
          <td :class="{'seat-on': seat == 0}">{{ gameState.score[0] }}</td>
          <td :class="{'seat-on': seat == 1}">{{ gameState.score[1] }}</td>
        </tr>
      </table>

      <deck-loader :playerId="seat" v-model="gameState.library[seat]" />

      <p class="controls">
        <button class="btn" @click="doStack">Stack</button>
        <button class="btn" @click="doResolve">Resolve</button>
        <button class="btn" @click="doShuffle">Shuffle</button>
        <button class="btn" @click="resetScore">Reset</button>
        <button class="btn" @click="incrementScore">Score +1</button>
        <button class="btn" @click="decrementScore">Score -1</button>
      </p>
    </div>

    <div v-if="hasPin" class="playground">
      <div class="board center">
        <card-stack key="tmpLeft"
                    :seat="seat"
                    :collection="cards"
                    :group="{ name: 'tmp', put: true }"
                    v-model="gameState.tmpLeft[seat]"
                    placeholder="Temp" />
        <card-stack key="stack"
                    :seat="seat"
                    :collection="cards"
                    :group="{ name: 'stack', put: ['cards', 'discard', 'tmp'] }"
                    v-model="gameState.stack"
                    placeholder="Stack" />
        <card-stack key="rules"
                    :seat="seat"
                    :collection="cards"
                    :group="{ name: 'rules', put: ['stack', 'tmp'], pull: ['discard', 'tmp'] }"
                    v-model="gameState.rules"
                    placeholder="Rules" />
      </div>

      <div class="board center">
        <card-stack key="tmpRight"
                    :seat="seat"
                    :collection="cards"
                    :group="{ name: 'tmp', put: true }"
                    v-model="gameState.tmpRight[seat]"
                    placeholder="Temp" />
        <card-stack key="library"
                    cardClass="flip"
                    :seat="seat"
                    :collection="cards"
                    :group="{ name: 'cards', put: ['tmp', 'discard'] }"
                    v-model="gameState.library[seat]" /> 
        <card-stack key="discard"
                    :seat="seat"
                    :collection="cards"
                    :group="{ name: 'discard', put: true }"
                    v-model="gameState.discard[seat]"
                    placeholder="Discard" />
      </div>
    </div>
  </div>
</template>

<script>
 import _ from 'lodash'
 import Vue from 'vue'
 import Card from '~/components/Card.vue'
 import DeckLoader from '~/components/DeckLoader.vue'
 import Draggable from 'vuedraggable'
 import { r } from '~/rethinkdb'
 import { rooms, cards, clients } from '~/store.js'


 const CardPlaceholder = {
   template: '<div class="frame placeholder" />'
 }

 const CardStack = {
   functional: true,
   name: 'CardStack',
   render(h, { data, props }) {
     const placeholder = h('div', { class: 'frame placeholder' }, props.placeholder)

     let children = _.map(props.value, ({id, owner, uid}, i) => {
       const cardClass = props.cardClass || ""
       const ownerMarkerClass = owner == props.seat ? "card--owner" : ""

       return h('div', {
         key: uid,
         class: 'xform'
       }, [
         h(Card, {
           class: [cardClass, ownerMarkerClass] || '',
           props: props.collection[id]
         })
       ])
     })

     let className = 'frame card-stack';
     if (props.className) {
       className += ' ' + props.className
     }

     const stack = h(Draggable, {
       class: className,
       props: {
         value: props.value,
         move(evt, ogEvt) {
           // element → {id, owner}
           return evt.draggedContext.element.owner == props.seat
         },
         options: {
           group: props.group,
           animation: 200,
           // dragClass: props.cardClass,
           // chosenClass: props.cardClass,
           // ghostClass: props.cardClass,
         }
       },
       on: {
         change: ({added, removed}) => {
           if (added) {
             data.on.input([...props.value, added.element])
           }

           if (removed) {
             data.on.input(_.without(props.value, removed.element))
           }
         },
       },
     }, children)

     // create the placeholder wrapper
     return h('div', { class: 'flip placeholder-wrapper' }, [placeholder, stack])
   }
 }

 export default {
   name: 'PlayGround'
   props: ['roomId'],
   components: {
     Card,
     CardPlaceholder,
     CardStack,
     DeckLoader,
   }

   // TODO: inject the `room` in a props
   async beforeRouteEnter(to, from, next) {
     const { roomId } = to.params
     const { pin } = to.query
     console.log(`Connecting to ${roomId}...`)
     let seat = await rooms.tryJoin(roomId, pin, clients.currentId)

     if (seat in [0, 1]) {
       await rooms.enter(roomId)
       next()
     } else {
       next(from)
     }
   },

   async created() {
     console.log(this.room)

     this.$db.run(cards.table)
         .then(cursor => cursor.toArray())
         .then(rows => this.cards = _.keyBy(rows, _.property('id')))

     // this.room = await this.$db.run(rooms.table.get(this.roomId))
     // this.room = rooms.current
   }

   data() {
     return {
       cards: [],
       rooms: rooms,
     }
   }

   methods: {
     doStack() {
       if (this.library.length == 0)
         return;

       const card = this.library.pop()
       this.stack.push(card)
     },
     doResolve() {
       if (this.stack.length == 0)
         return;

       const card = this.stack.pop()
       this.gameState.discard[card.owner].push(card)
     },
     doShuffle() {
       Vue.set(this.gameState.library, this.seat, _.shuffle(this.library))
     },
     incrementScore() {
       Vue.set(this.gameState.score, this.seat, this.score + 1)
     },
     decrementScore() {
       Vue.set(this.gameState.score, this.seat, this.score - 1)
     },
     resetScore() {
       Vue.set(this.gameState.score, this.seat, 0)
     },
   }

   computed: {
     hasPin() {
       return this.$route.query.pin
     },
     room() {
       return rooms.current && rooms.current.model
     },
     seat() {
       return _.indexOf(this.room.seats, clients.currentId)
     },
     gameState() {
       return this.room.gameState;
     },
     stack() {
       return this.gameState.stack
     },
     score() {
       return this.gameState.score[this.seat]
     },
     discard() {
       return this.gameState.discard[this.seat]
     },
     library() {
       return this.gameState.library[this.seat]
     },
   }
 }
</script>
<style lang="scss" scoped>

 .card-stack {
   display: inline-block;
   margin: 10px;

   .xform {
     position: absolute;
   }

   border-color: transparent;
   background-color: transparent;
 }

 .placeholder-wrapper {
   position: relative;
   margin: 2em;

   .placeholder {
     position: absolute;
   }
 }
   
 .playground {
   display: flex;
   flex: 1;
   flex-direction: column;
 }

 .board {
   display: flex;
   flex: 1;
   align-self: center;
 }

 .placeholder {
   z-index: -1;
   color: grey;
   padding: 2.5mm;
   padding-top: 1mm;
   padding-bottom: 5.5mm;
   border: dotted 0.5mm lightgrey;
   text-align: center;
   font-size: smaller;
   font-family: monospace;
 }

 .seat-indicator {
   width: 4em;
   border: 1px solid black;
   padding: 1px;
   text-align: center;

   tr {
     height: 2em;
   }

   td {
     border: 1px solid black;

     &.seat-on {
       color: white;
       background-color: black;
     }
   }
 }
</style>
