<template>
  <div>
    <h3>Join a room</h3>
    <p>{{ clientId }}</p>
    <p>
      <label for="roomId">Room ID:</label>
      <input type="text" name="roomId" v-model="model.roomId" />
    </p>

    <p>
      <label for="pin">PIN</label>
      <input type="text" name="pin" v-model="model.pin" />
    </p>

    <button class="btn" @click="create">Create new room</button>
    <button class="btn" @click="join">Join</button>

    <div>
      <h3>{{ rooms.count }} rooms available</h3>
      <div v-key="id" v-for="(room, id) in rooms.all">
        <p>{{ id }}</p>
        <p>
          {{ room.seats.length }} / 2
          <router-link v-if="room.seats.length < 2"
                       :to="{ name: 'playground', params: { roomId: id }, query: { pin: room.pin }}">
            Join!
          </router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import { clients, rooms, Room } from '~/store.js'

export default {
  props: ['roomId', 'pin'],

  data() {
    return {
      rooms,
      testRoom: null,
      clientId: clients.currentId,
      model: {
        roomId: this.roomId,
        pin: this.pin,
        seat: false
      },
    }
  },

  methods: {
    async create() {
      await rooms.create(this.model.pin)
    },
    async join() {
      this.model.seat = await rooms.tryJoin(this.model.roomId, this.model.pin, this.clientId)

      if (this.model.seat != false) {
        this.$router.push({ name: 'user', params: this.model })
      } else {
        console.info("Game is full.")
        // TODO: game is full, spectator mode
      }
    }
  },
}
</script>
