<template>
  <div id="app">
    <h1 class="title">Deeper</h1>
    <router-view />
  </div>
</template>
<script>
 export default {
   name: 'App'

   mounted() {
     console.log("App mounted")
   }
 }
</script>
<style lang="scss">
 @page {
   margin: 6.35mm;
 }

 @media screen {
   .single > .card:not(:first-child) {
     display: none;
   }
 }

 @media print {
   * {
     margin: 0;
     padding: 0;
   }
 }

 #app {
   height: 100vh;
   display: flex;
   flex-direction: column;
 }

 .title {
   text-align: center;
   font-family: monospace;
 }

 .card * {
   margin: 0;
   padding: 0;
 }

 html {
   overflow: visible;
 }

 body {
   margin: 0;
 }

 .card {
   position: relative;
   display: inline-flex;
   page-break-inside: avoid;
   font-size: 8pt;
   margin: 1px;
   transform-style: preserve-3d;

   /* transition: transform 0.4s; */

   .inside {
     display: flex;
     flex: 1;
     flex-direction: column;
   }

   &.flip {
     transform: rotate3d(0,1,0,.5turn)
   }

   &.grab {
     transform: rotate3d(1,0,0,12deg)
   }

   & .header:hover {
     z-index: 999 !important;
   }

   &:not(:first-child) {
     pointer-events: none;
   }

   &.card--owner {
     .frame {
       border-color: black;
     }
   }

   .frame {
     box-shadow: black 0 0 2px;
     border-color: lightgrey;
   }
 }
 .frame {
   display: flex;
   width: 57mm; /* 2.5in @ 141DPI */
   height: 79mm; /* 3.5in @ 141DPI */
   border-radius: 3mm;
   border: solid 3mm black;
   border-bottom-width: 6mm;
   background: white;
 }
 .backface {
   position: absolute;
   background: #222222;
   transform: rotate3d(0,1,0,.5turn);
   backface-visibility: hidden;
 }
 .art {
   object-fit: contain;
   background: lightgray;
   width: 53mm;
   height: 53mm;
   margin: 0 auto;
 }
 .text {
   font-size: 0.8em;
   font-family: monospace;
   flex: 1;
   border: solid 1px gray;
   margin: 0.2em;
   padding: 0.2em;
 }
 .text blockquote {
   margin-left: 3ch;
 }
 .text code {
   text-decoration: underline;
 }
 .spacer {
   flex: 1;
 }
 .band {
   margin: 2px;
   display: flex;
   justify-content: space-between;
 }
 .footer {
   font-size: 0.8em;
 }
 .meta {
   color: white;
   padding: 0;
   position: absolute;
   bottom: 0;
   margin-bottom: -4mm;
   font-size: 2mm;
 }
 .debug .band p {
   background: red;
 }
 .debug .frame {
   background: blue;
 }
 .card-container {
   font-size: 0px; /* fix space between elements */
   position: relative;
 }
 .card-link {
   width: 0px;
   height: 0px;
   text-decoration: none;
   color: inherit;
 }
 .rules {
   font-size: inherit;
   border-spacing: 0px;
 }
 .sigil {
   vertical-align: text-top;
 }
 .btn {
   background: none;
   border: 1px solid black;
   margin-top: 2px;

   &:hover {
     box-shadow: black 2px 2px;
     margin-top: 0;
   }

   &:disabled {
     box-shadow: none;
     background: #999999;
   }

   &:active {
     box-shadow: none;
     margin-top: 2px;
   }
 }

 .sortable-drag {
   opacity: 0.2 !important;
 }
</style>
