<template>
  <div class="card" :data-owner="owner">
    <div class="frame">
      <div class="inside">
        <div class="band header">
          <span>{{ name }}</span>
          <span>{{ cost }}</span>
        </div>
        <img class="art" src="http://place-hold.it/300"/>
        <div class="text">
          <table class="rules">
            <tr v-for="rule in stackRules">
              <th class="sigil">⮮:</th>
              <td>{{ rule }}</td>
            </tr>
            <tr v-for="rule in resolveRules">
              <th class="sigil">⮭:</th>
              <td>{{ rule }}</td>
            </tr>
            <tr v-if="text">
              <td colspan="2">
                {{ text }}
              </td>
            </tr>
          </table>
        </div>
        <div class="band footer">
          <span>{{ card_type }}</span>
          <span v-if="worth">{{ worth }}</span>
        </div>
      </div>
      <div class="band meta">
        <span>{{ author || "None" }}</span>
        <span>{{ "" }}</span>
      </div>
    </div>
    <div class="frame backface"></div>
  </div>
</template>
<script>
 import _ from 'lodash';

 export default {
   name: "Card"
   props: ["name", "cost", "rules", "text", "card_type", "worth", "author", "owner"]
   computed: {
     stackRules() {
       return _.map(_.filter(this.rules, r => _.has(r, 'S')), 'S')
     },
     resolveRules() {
       return _.map(_.filter(this.rules, r => _.has(r, 'R')), 'R')
     }
   }
 }
</script>
<style>
 .overlay {
   display: inline-block;
   position: relative;
 }

 .overlay .overlay-content {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;

   transition: opacity 0.1s ease;
   opacity: 0;
 }

 .overlay .overlay-content:hover {
   opacity: 1;
 }
</style>
