<template>
<div class="widget">
  <div class="controls">
    <button :disabled="!count" class="btn" @click="$emit('remove', id)">-</button>
    <span>{{ count }}</span>
    <button class="btn" @click="$emit('add', id)">+</button>
  </div>
</div>
</template>

<script>
import Card from './Card.vue';

export default {
   props: ["id", "count"]

}
</script>
