<template>
  <div class="container">
    <div class="deck-builder sidebar">
      <div class="sticky">
        <table class="deck-builder--cards">
          <thead>
            <tr>
              <th>#</th>
              <th />
              <th class="title">Title</th>
              <th>Cost</th>
              <th />
            </tr>
          </thead>
          <tr v-for="(count, id) in library">
            <td>
              {{ count }}
            </td>
            <td class="symbol">×</td>
            <td class="title">
              {{ cards[id].name }}
            </td>
            <td>{{ cards[id].cost * count }}</td>
          </tr>
          <tfoot>
            <tr>
              <td>{{ deckIds.length }}</td>
              <td colspan="2" />
              <td>{{ libraryCost }}</td>
              <td class="symbol">/ 30</td>
            </tr>
          </tfoot>
        </table>
        <div>
          <h3>
            Deck Code
            <button id="deck-code-copy" class="btn">📋</button>
          </h3>
          <p class="deck-builder--code">{{ deckCode }}</p>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div v-for="card in Object.values(cards)" class="card-decorator" :key="card.id" >
        <card v-bind="card" />
        <card-widget v-on:add="handleAdd"
                     v-on:remove="handleRemove"
                     :count="library[card.id]"
                     :id="card.id" />
      </div>
    </div>
  </div>
</template>
<script>
 import Clipboard from 'clipboard'
 import Vue from 'vue'
 import Card from './Card.vue'
 import CardWidget from './CardWidget.vue'
 import { r } from '~/rethinkdb'
 import _ from 'lodash'
 import Hashids from 'hashids'

 const hasher = new Hashids()

 export default {
   name: 'CardList'
   components: {
     Card, CardWidget
   }

   data() {
     return {
       cards: {},
       library: {},
       _clipboard: null,
     }
   }

   created() {
     this._clipboard = new Clipboard("#deck-code-copy", {
       text: () => this.deckCode;
     })

     const q = r.table('cards')

     this.$db.run(q)
                .then(cursor => cursor.toArray())
                .then(rows => this.cards = _.keyBy(rows, 'id'))
                .then(() => {
                  if (this.$route.query.deck) {
                    // decode it as pairs of (id, count)
                    const pairs = _.chunk(hasher.decode(this.$route.query.deck), 2);

                    this.library = _.fromPairs(pairs);
                  }
                })
   }

   destroyed() {
     this._clipboard.destroy()
   }

   methods: {
     handleAdd(id) {
       if (!this.library.hasOwnProperty(id))
         Vue.set(this.library, Number(id), 0)

       this.library[id] += 1
     },
     handleRemove(id) {
       if (!this.library.hasOwnProperty(id))
         Vue.set(this.library, Number(id), 0)

       if (this.library[id]-- <= 0) {
         delete this.library[id]
       }
     },
   }

   computed: {
     deckIds() {
       let ids = []
       for (let id in this.library) {
         const add = _.times(this.library[id], _.constant(id))
         ids = _.concat(ids, add)
       }

       return ids
     },
     deckCode() {
       const pairs = _(this.library).toPairs()
                                    .flatten()
                                    .map(Number)
                                    .value()

       return hasher.encode(pairs)
     },
     libraryCost() {
       const costs = _.map(this.deckIds, id => this.cards[id].cost)
       console.log(costs)
       return _.sum(costs)
     }
   }
 }
</script>
<style lang="scss" scoped>
 .card-decorator {
   display: inline-block;
   position: relative;
   font-size: 1rem;
 }

 .card-decorator > .widget {
   position: absolute;
   margin: 2em;
   top: 0;
   right: 0;
 }

 .widget {
   display: none;
 }

 .card-decorator:hover > .widget {
   display: inherit;
 }

 .card-container {
   flex: 1;
 }

 .deck-builder {
   width: 100%;
   flex: 1;
   max-width: 20%;
   margin: 0.66em;
   padding: 1em;
   /* border-right: 3px solid black; */

   .deck-builder--code {
     overflow-wrap: break-word;
     font-family: monospace;
     font-size: 0.8em;

     border: dashed 1px;
     font-size: 2rem;
     letter-spacing: 0.2em;
     padding: 0.3em;
   }

   .deck-builder--cards {
     width: 100%;
     font-size: 0.8em;
     text-align: right;
     border-collapse: collapse;

     .title {
       text-align: left;
     }

     .symbol {
       text-align: left;
     }

     tfoot td {
       border-top: 1px solid black;
       padding-top: 0.3em;
     }
   }
 }

 .sticky {
   position: sticky;
   position: -webkit-sticky;
   top: 1em;
 }

 #deck-code-copy {
   font-size: 1rem;
   float: right;
 }
</style>
