<template>
  <div>
    <input type="text" v-model="model.code" />
    <button class="btn" @click="load">Load</button>
  </div>
</template>

<script>
import Vue from 'vue';
import Hashids from 'hashids'
import _ from 'lodash'
import uuid from 'uuid/v4'

const hasher = new Hashids()

const library = {
  codeIds(code) {
    let pairs = _.chunk(hasher.decode(code), 2);
    pairs = _.fromPairs(pairs);
    
    let ids = []
    for (let id in pairs) {
      const occurences = _.times(pairs[id], _.constant(id))
      ids = _.concat(ids, occurences)
    }

    return ids
  }
}


export default {
  props: ["playerId"],
  data() {
    return {
      model: {
        code: null,
      },
    }
  },
  methods: {
    load() {
      let ids = library.codeIds(this.model.code)

      if (this.playerId !== undefined) {
        ids = _.map(ids, (id) => ({ id, owner: this.playerId, uid: uuid() }))
      }

      this.$emit('input', ids)
    },
  }
}
</script>
