<template>
  <div class="container">
    <div class="sidebar">
      <h3>
        Game
      </h3>
      <p>
        Score: {{ score }}
        <button class="btn" @click="incrementScore">+</button>
        <button class="btn" @click="decrementScore">-</button>
      </p>
      
      <deck-loader v-model="library" />

      <p class="controls">
        <button class="btn" @click="doStack">Stack</button>
        <button class="btn" @click="doResolve">Resolve</button>
        <button class="btn" @click="doShuffle">Shuffle</button>
        <button class="btn" @click="resetScore">Reset</button>
      </p>
    </div>
    
    <div class="playground">
      <div class="board center">
        <card-stack key="tmpLeft" :collection="cards" group="cards" v-model="tmpLeft" placeholder="Temp" />
        <card-stack key="stack" :collection="cards" :group="{ name: 'stack', put: ['cards', 'discard'] }" v-model="stack" placeholder="Stack" />
        <card-stack key="rules" :collection="cards" :group="{ name: 'rules', put: 'stack', pull: 'discard' }" v-model="rules" placeholder="Rules" />
      </div>

      <div class="board center">
        <card-stack key="tmpRight" :collection="cards" group="cards" v-model="tmpRight" placeholder="Temp" />
        <card-stack key="library" cardClass="flip" :collection="cards" group="cards" v-model="library" /> 
        <card-stack key="discard" :collection="cards" :group="{ name: 'discard', put: true }" v-model="discard" placeholder="Discard" />
      </div>
    </div>
  </div>
</template>
<script>
 import _ from 'lodash'
 import Vue from 'vue'
 import Card from '~/components/Card.vue'
 import DeckLoader from '~/components/DeckLoader.vue'
 import Draggable from 'vuedraggable'
 import { r } from '~/rethinkdb'

 const CardPlaceholder = {
   template: '<div class="frame placeholder" />'
 }

 const CardStack = {
   functional: true,
   name: 'CardStack',
   render(h, { data, props }) {
     const placeholder = h('div', { class: 'frame placeholder' }, props.placeholder)

     const children = _.map(props.value, (id, i) => h(Card, {
       class: props.cardClass || '',
       props: props.collection[id],
     }))

     let className = 'frame card-stack';
     if (props.className) {
       className += ' ' + props.className
     }

     const stack = h(Draggable, {
       class: className,
       props: {
         options: {
           //group: { 'name': "cards", pull: false, put: false},
           group: props.group,
           animation: 100,
         },
         value: props.value,
       },
       on: {
         change: ({added, removed}) => {
           if (added) {
             data.on.input([added.element, ...props.value])
           }

           if (removed) {
             data.on.input(_.drop(props.value))
           }
         },
       }
     }, children)

     // create the placeholder wrapper
     return h('div', { class: 'placeholder-wrapper' }, [placeholder, stack])
   }
 }

 export default {
   name: 'PlayGround'
   components: {
     Card,
     CardPlaceholder,
     CardStack,
     DeckLoader,
   }

   created() {
     const q = r.table('cards')

     this.$db.run(q)
        .then(cursor => cursor.toArray())
                .then(rows => this.cards = _.keyBy(rows, _.property('id')))
                .then(cards => this.library = _.shuffle(_.keys(cards)))

     const defaultRoom = r.table('rooms')
                          .get('_default')

     this.$db.changes(defaultRoom)
                          .then(feed => feed.eachAsync(async changes => {
                            console.info(this.data)
                            this.score = changes['new_val']['score'] || 0
                            this.stack = changes['new_val']['stack'] || []
                            // this.library = changes['new_val']['library'] || []
                            this.discard = changes['new_val']['discard'] || []
                          })
   }

   data() {
     return {
       discard: [],
       library: [],
       stack: [],
       rules: [],
       tmpLeft: [],
       tmpRight: [],
       cards: {},
       score: 0,
     }
   }

   methods: {
     doStack() {
       if (this.library.length == 0)
         return;

       this.stack.unshift(this.library.shift())
       this.sync()
     },
     doResolve() {
       if (this.stack.length == 0)
         return;

       this.discard.unshift(this.stack.shift())
       this.sync()
     },
     doShuffle() {
       this.library = _.shuffle(this.library)
       this.sync()
     },
     incrementScore() {
       this.score += 1
     },
     decrementScore() {
       this.score -= 1
     },
     resetScore() {
       this.score = 0
     },
     sync() {
       const q = r.table('rooms')
                  .get('_default')
                  .update({
                    stack: this.stack,
                    library: this.library,
                    discard: this.discard,
                  })

       this.$db.run(q)
     }
   }

   computed: {
     libraryCards() {
       return _.map(this.library, id => this.cards[id])
     },
     topLibrary() {
       return this.cards[this.library[0]]
     },
     topDiscard() {
       return this.cards[this.discard[0]]
     },
     topStack() {
       return this.cards[this.stack[0]]
     },
     actualScore() {
       return String(this.score)
     }
   }
 }
</script>
<style lang="scss" scoped>
 .card-stack {
   display: inline-block;
   margin: 10px;

   .card {
     position: absolute;

     &:first-child {
       z-index: 1
     }
   }

   border-color: transparent;
   background-color: transparent;
 }

 .placeholder-wrapper {
   position: relative;
   margin: 2em;

   .placeholder {
     position: absolute;
   }
 }
   
 .playground {
   display: flex;
   flex: 1;
   flex-direction: column;
 }

 .board {
   display: flex;
   flex: 1;
   align-self: center;
 }

 .rotate-right {
   transform: rotate(90deg);
 }

 .rotate-left {
   transform: rotate(-90deg);
 }

 .placeholder {
   z-index: -1;
   color: grey;
   padding: 2.5mm;
   padding-top: 1mm;
   padding-bottom: 5.5mm;
   border: dotted 0.5mm lightgrey;
   text-align: center;
   font-size: smaller;
   font-family: monospace;
 }

</style>
