@page {
    margin: 6.35mm;
}

@media screen {
    .single > .card:not(:first-child) {
	display: none;
    }
}

.card * {
    margin: 0;
    padding: 0;
}

@media print {
    * {
        margin: 0;
        padding: 0;
    }
}

html {
    overflow: visible;
}
.card {
    display: inline-flex;
    flex-direction: column;
    page-break-inside: avoid;
    font-size: 8pt;
    margin: 1px;
}
.frame {
    width: 57mm; /* 2.5in @ 141DPI */
    height: 82mm; /* 3.5in @ 141DPI */
    border-radius: 3mm;
    border: solid 3mm black;
}
.frame .frameless {
    border-color: transparent;
}
.art {
    object-fit: contain;
    background: lightgray;
    width: 53mm;
    height: 53mm;
    margin: 0 auto;
}
.text {
    font-size: 0.8em;
    font-family: monospace;
    flex: 1;
    border: solid 1px gray;
    margin: 0.2em;
    padding: 0.2em;
}
.text blockquote {
    margin-left: 3ch;
}
.text code {
    text-decoration: underline;
}
.spacer {
    flex: 1;
}
.band {
    margin: 2px;
    display: flex;
    justify-content: space-between;
}
.footer {
    font-size: 0.8em;
}
.meta {
    color: white;
    padding: 0;
    margin-bottom: -0.8em;
}
.meta span {
    font-size: 1.5mm;
}
.debug .band p {
    background: red;
}
.debug .frame {
    background: blue;
}
.card-container {
    font-size: 0px; /* fix space between elements */
    position: relative;
}
.card-link {
    width: 0px;
    height: 0px;
    text-decoration: none;
    color: inherit;
}
.rules {
    line-height: 1em;
}

.rules .sigil {
    vertical-align: baseline;
}
